{% extends "base.html" %}
{%  block title %} Error 404 {% endblock %}
{% block content %}
{% if user.role == 'regular'%}
<div class="jumbotron">
  <h1 class="display-4">Page Not Found</h1>
  <p class="lead">We apologize, this page is missing or does not exist.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'library-home' %}" role="button">Back to Home</a>
  </p>
</div>
{% endif %}

{% if user.role == 'manager'%}
<div class="jumbotron">
  <h1 class="display-4">No instances of this book has been found</h1>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'library-home' %}" role="button">Back to Home</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:8000/addBookInstance404/" role="button">Add A Book Instance</a>
</div>
{% endif %}
{% endblock content %}