{%  extends "base.html" %}
{%  block title %} Book Instances {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated%}
    <!-- <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Logged In As:</h1>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>
    </article> -->
{% else %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>I'm sorry you are not logged in</h1>
                <a class="nav-item nav-link" href="{% url 'register' %}">If You Would Like To Register</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">If You Would Like To Login</a>
            </div>
        </div>
    </article>
{% endif %}

{% if user.role == 'regular'%}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Would you like to borrow this book:</h1>
                <h1>{{ details.title }}?</h1>
            </div>
            <div>
            {% for bookInstances in bookInstances %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><a class="article-title" href="http://localhost:8000/borrowBookInstanceForm/{{bookInstances.imprint}}/{{bookInstances.ISBN}}">Copy: {{ bookInstances.imprint }}</a></h2>
                    </div>
                </div>
            </article>
                <!-- <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="no" id="noButton">No</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="borrow" id="yesButton">Yes</button>
                </form> -->
            {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}

{% if user.role == 'manager'%}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Instances for book:</h1>
                <h1>{{details.title}}</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="createManagerButton"><a href="http://localhost:8000/addBookInstance/{{details.ISBN}}" class="adminButtons" >Add A Book Instance</a></button>
                    <br>
                    <br>
                    <button class="createManagerButton"><a href="http://localhost:8000/deleteBookInstance/{{details.ISBN}}" class="adminButtons" >Delete A Book Instance</a></button>
                    <br>
                    <br>
                    <button class="createManagerButton"><a href="http://localhost:8000/editBookInstance/{{details.ISBN}}" class="adminButtons" >Edit A Book Instance</a></button>
                </form>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Book Options:</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="createManagerButton"><a href="http://localhost:8000/editBook/{{details.ISBN}}" class="adminButtons" >Edit Book Details</a></button>
                </form>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Book Options:</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="createManagerButton"><a href="http://localhost:8000/deleteBook/{{details.ISBN}}" class="adminButtons" >Delete Entire Book</a></button>
                </form>
            </div>
        </div>
    </article>
{% endif %}
{% endblock %}