{%  extends "base.html" %}
{%  block title %} Profile {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated%}
    <!-- <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Logged In As:</h1>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>
    </article> -->
{% else %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>I'm sorry you are not logged in</h1>
                <a class="nav-item nav-link" href="{% url 'register' %}">If You Would Like To Register</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">If You Would Like To Login</a>
            </div>
        </div>
    </article>
{% endif %}

{% if bookAvailability.status == 'a'%}
{% if user.role == 'regular'%}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Would you like to borrow this book:</h1>
                <h1>{{ details.title }}?</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="no" id="noButton">No</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="borrow" id="yesButton">Yes</button>
                </form>
            </div>
        </div>
    </article>
    {% endif %}
{% endif %}

{% if bookAvailability.status == 'r'%}
{% if user.role == 'regular'%}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>{{ details.title }}?</h1>
                <h1>This book is already being borrowed</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="no" id="noButton">Back to home</button>
                </form>
            </div>
        </div>
    </article>
    {% endif %}
{% endif %}

{% if user.role == 'manager'%}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Instances for book:</h1>
                <h1>{{details.title}}</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="createManagerButton"><a href="http://localhost:8000/addBookInstance/{{details.ISBN}}" class="adminButtons" >Add A Book Instance</a></button>
                    <br>
                    <br>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="deleteInstance" id="borrowButton">Deleting Book Instances</button>
                    <br>
                    <br>
                    <button class="createManagerButton"><a href="http://localhost:8000/editBookInstance/{{details.ISBN}}" class="adminButtons" >Edit A Book Instance</a></button>
                </form>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Book Options:</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="createManagerButton"><a href="http://localhost:8000/editBook/{{details.ISBN}}" class="adminButtons" >Edit Book Details</a></button>
                </form>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Book Options:</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="delete" id="borrowButton">Delete Book</button>
                </form>
            </div>
        </div>
    </article>
{% endif %}
{% endblock %}