{% extends "base.html" %}
{%  block title %} Book Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1>{{ details.title }}</h1>
        <h3>Author: {{ details.author}}</h3>
        <h4>Published By: {{ details.publisher}}</h4>
        <p>Book Description: {{ details.description }} </p>
        <p>Book's ISBN: {{ details.ISBN }}</p>
        <p>Book's Dewey Decimal: {{ details.dewey_call }}</p>
    </div>
</article>

{% if user.role == 'regular' %}
    <article class="media content-section">
        <div class="media-body">
            <form class="form-group" method="POST">
                {% csrf_token %}
                <h3>Would you to check the availability of this book?</h3>
                <a href="http://localhost:8000/bookInstance/{{details.ISBN}}" type="submit" class="btn btn-success">Check availability</a>
            </form>
        <div>
    </article>
{% endif %}

{% if user.role == 'manager' %}
    {% if bookAvailability.status == 'r'%}
        {% for bookBorrow in bookBorrow %}
            <article class="media content-section">
                <div class="media-body">
                    <h2>Username borrowing: {{ bookBorrow.userBorrowing }}</h2>
                    <h3>Borrowed on: {{ bookBorrow.date_borrowed }}</h3>
                    <h3>Due Date: {{ bookBorrow.due_back }}</h3>
                    <a href="http://localhost:8000/bookInstanceManager/{{details.ISBN}}" type="submit" class="btn btn-success">Make book available</a>
                <div>
            </article>
        {%endfor%}
    {% endif %}
    <article class="media content-section">
        <div class="media-body">
            <h2>Add/Delete/Edit Instances</h2>
            <form class="form-group" method="POST">
                {% csrf_token %}
                <a href="http://localhost:8000/bookInstanceManager/{{details.ISBN}}" type="submit" class="btn btn-success">Go to Instances Page</a>
            </form>
        <div>
    </article>
{% endif %}

{% if user.role == 'manager' %}
{% for reviews in reviews %}
<article class="media content-section">
    <div class="media-body">
        <h3>User: {{ reviews.userWhoCommented }}</h3>
        <h4>Comment: {{ reviews.content  }}</h4>
        <p>Date Posted: {{ reviews.timestamp }}</p>
    </div>
</article>
{% endfor %}
{% endif %}

{% if user.role == 'regular' %}
{% for reviews in reviews %}
<article class="media content-section">
    <div class="media-body">
        <h3>User: {{ reviews.userWhoCommented }}</h3>
        <h4>Comment: {{ reviews.content  }}</h4>
        <p>Date Posted: {{ reviews.timestamp }}</p>
    </div>
</article>
{% endfor %}

<form class="form-group" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="review" id="reviewBook">Leave Review</button>
</form>
{% endif %}

{% if user.is_anonymous %}
{% for reviews in reviews %}
<article class="media content-section">
    <div class="media-body">
        <h3>User: {{ reviews.userWhoCommented }}</h3>
        <h4>Comment: {{ reviews.content  }}</h4>
        <p>Date Posted: {{ reviews.timestamp }}</p>
    </div>
</article>
{% endfor %}
{% endif %}
{% endblock content %}
