{%  extends "base.html" %}
{%  block title %} Profile {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <form class="form-group" method="POST">
        <h1>Changing Passwords For {{ user.username }}</h1>
        {% csrf_token %}
        {% if user.security_question == 'city'%}
            <h2>In what city did you have your first ever birthday party?</h2>
        {% endif %}
        {% if user.security_question == 'science'%}
            <h2>What is the last name of your Science class teacher in high school?</h2>
        {% endif %}
        {% if user.security_question == 'phone'%}
            <h2>Which company manufactured your first mobile phone?</h2>
        {% endif %}
        {% if user.security_question == 'hero'%}
            <h2>Who was your childhood hero?</h2>
        {% endif %}
        {% if user.security_question == 'vacation'%}
            <h2>Where was your best family vacation?</h2>
        {% endif %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Confirm Change</button>
    </form>
{% endblock %}