{%  extends "base.html" %}
{%  block title %} Forgot Password {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
        <form class="form-group" action='/editForgottenPassword/{{username}}'>
            <h1>Forgotten Password</h1>
            <h2>What is your accounts Username?</h2>
                <input class="form-control mr-sm-1" name="username" type="search" placeholder="Username"aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div>
            <h2>{{msg}}</h2>
        </div>
{% endblock %}