{%  extends "base.html" %}
{%  block title %} Forgot Password {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
        <h1>Forgotten Password</h1>
        {% csrf_token %}
        <h2>What is your accounts Username</h2>
        <form class="form-inline my-2 my-lg-0" action='/userWhoForgotPassword/'>
            <input class="form-control mr-sm-2" name="username" type="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="reviewBook">Search</button>
        </form>
        <div>
            <h2>{{msg}}</h2>
        </div>
{% endblock %}