{% extends "base.html" %}
{%  block title %} Home {% endblock %}
{% block content %}

{% if user.role == 'regular' %}
    <article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
    <h2>List Of All Books</h2>
    <hr>
{% for books in books %}    
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="article-title" href="books/{{books.ISBN}}">{{ books.title }}</a></h2>
                    <h4>{{ books.author }}</h4>
                </div>
                <small class="text-muted">{{ books.year_of_pub }}</small>
                <a class="mr-2">Publisher: {{ books.publisher }}</a>
            </div>
        </article>
{% endfor %}
    </div>
    </div>
    </article>
{% endif %}

{% if user.is_anonymous %}
    <article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
    <h2>List Of All Books</h2>
    <hr>
{% for books in books %}    
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="article-title" href="books/{{books.ISBN}}">{{ books.title }}</a></h2>
                    <h4>{{ books.author }}</h4>
                </div>
                <small class="text-muted">{{ books.year_of_pub }}</small>
                <a class="mr-2">Publisher: {{ books.publisher }}</a>
            </div>
        </article>
{% endfor %}
    </div>
    </div>
    </article>
{% endif %}

{% if user.role == 'manager' %}
    <h1>You are a manager</h1>
    <br>
    <button class="createManagerButton"><a href="{% url 'addBook' %}" class="adminButtons" >Add A Book</a></button>
    <br>
    <br>
    
    <article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
    <h2>List Of All Books</h2>
    <hr>
{% for books in books %}    
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="article-title" href="books/{{books.ISBN}}">{{ books.title }}</a></h2>
                    <h4>{{ books.author }}</h4>
                </div>
                <small class="text-muted">{{ books.year_of_pub }}</small>
                <a class="mr-2">Publisher: {{ books.publisher }}</a>
            </div>
        </article>
{% endfor %}
    </div>
    </div>
    </article>
{% endif %}

{% if user.role == 'head' %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Admin Options:</h2>
                <button class="createManagerButton"><a href="{% url 'registerManager' %}" class="adminButtons" >Register a manager</a></button>
            </div>
        </div>
    </article>
{% endif %}

{% endblock content %}
