{% extends "base.html" %}
{%  block title %} Home {% endblock %}
{% block content %}
{% for books in books %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 href="#">{{ books.author }}</h3>
            <small class="text-muted">{{ books.year_of_pub }}</small>
        </div>
        <h2><a class="article-title" href="books/{{books.ISBN}}">{{ books.title }}</a></h2>
        <a class="mr-2">Publisher: {{ books.publisher }}</a>
    </div>
</article>
{% endfor %}
{% endblock content %}
