{%  extends "base.html" %}
{%  block title %} Profile {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Profile</h1>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
            <form class="form-group" method="POST">
                {% csrf_token %}
                <a href="{% url 'editPassword' %}" type="submit" class="btn btn-success">Change Password?</a>
            </form>
        </div>
    </article>
{% else %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>I'm sorry you are not logged in</h1>
                <a class="nav-item nav-link" href="{% url 'register' %}">If You Would Like To Register</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">If You Would Like To Login</a>
            </div>
        </div>
    </article>
{% endif %}

{% if user.role == 'regular' %}
    <article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
    <h2>Borrowed Books</h2>
    <hr>
    {% if borrowedBook %}
    {% for borrowedBook in borrowedBook %}   
        <div>
            <h2><a class="article-title" href="http://localhost:8000/books/{{borrowedBook.ISBN}}">{{ borrowedBook.title }}</a></h2>
            <h4>{{ borrowedBook.author }}</h4>
            <a href="http://localhost:8000/returnBook/{{borrowedBook.ISBN}}" type="submit" class="btn btn-success">Return Book?</a>
        </div>
    {% endfor %}
    {% else %}
        <div>
            <h2>You have no borrowed books</h2>
        </div>
        {% endif %}
    </div>
    </div>
    </article>
{% endif %}
<!-- {% if user.role == 'regular'%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Borrowed Books:</h1>
            </div>
            {% if borrowedBook %}
            {% for borrowedBook in borrowedBook %}
                <div class="article-metadata">
                    <h2><a class="article-title" href="http://localhost:8000/books/{{borrowedBook.ISBN}}">{{ borrowedBook.title }}</a></h2>
                    <h4>{{ borrowedBook.author }}</h4>
                    <a href="http://localhost:8000/returnBook/{{borrowedBook.ISBN}}" type="submit" class="btn btn-success">Return Book?</a>
                </div>
            {% endfor %}
            {% else%}
                <div class="article-metadata">
                    <h2>You have no borrowed books</h2>
                </div>
            {% endif %}
        </div>
    </article>
{% endif %} -->
{% endblock %}