{%  extends "base.html" %}
{%  block title %} Profile {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated%}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Logged In As:</h1>
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>
    </article>
{% else %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>I'm sorry you are not logged in</h1>
                <a class="nav-item nav-link" href="{% url 'register' %}">If You Would Like To Register</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">If You Would Like To Login</a>
            </div>
        </div>
    </article>
{% endif %}
{% if user.role == 'regular'%}
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h1>Are You Sure You Want To Return {{ returnBook.title }}?</h1>
            </div>
            <div>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="yes" id="yesButton">Yes</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="no" id="noButton">No</button>
                </form>
            </div>
        </div>
    </article>
{% endif %}
{% endblock %}